# Data Science Tools and Ecosystem

## Author
Ying Ling See

**Objectives:**
- List popular langauges in data science
- List common libraries
- Examples of arithmetic expressions

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. SQL
2. Python 
3. R

Some of the commonly used libraries used by Data Scientists include:
 1. pandas
 2. numpy 
 3. sklearn

| Data Science Tools|
| -------------| 
|  RStudio | 
| Spyder | 
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335